body{
    text-align: center;
    background-color: #e3cece;
    color: rgb(83, 75, 75);
}

h1 {
    font-family: 'Jersey 15', sans-serif; 
}

p {
    font-family: 'Jersey 15', sans-serif; 
}

a {
    font-family: 'Jersey 15', sans-serif;
    color:#8c6d6d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
